<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Metro 4 -->
   <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
   <title>Learning Solution Administration Cockpit</title>
</head>

<body>


   <div class="tiles-grid" style="margin: 20px">
      <a href="/admin/" data-role="tile" class="bg-teal">
         <span class="mif-cog icon fg-white"></span>
         <span class="branding-bar">Configurations</span>
      </a>
      <a href="/cockpit/" data-role="tile" class="bg-cyan">
         <span class="mif-safari icon fg-white"></span>
         <span class="branding-bar">Portal Cockpit</span>
      </a>



   </div>


   <!-- Metro 4 -->
   <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>

</body>

</html>